@charset "utf-8";
/* CSS Document */

/*header*/
.header{margin-left:1px; background:url(../images/header_bj.png) repeat-x; border:1px solid #000; margin-top:1px; height:37px;}
h1{text-indent:-9999em; height:30px; width:98px; margin:4px 22px 0 9px; position:relative; }
h1 img{position:absolute; top:0; left:0;}
.header_nav{width:240px; height:36px;}
.header_nav a{color:#a8a8aa;height:20px; float:left; width:80px; text-align:center;padding-top:16px; font-size:13px;}
.header_nav a.on{color:#fff; background:linear-gradient(#24252a,red); }

.header_l{width:91px; height:37px;}
.header_l span{width:1px; height:37px; background:url(../images/header_l.png) no-repeat; margin-right:10px;}
.header_l a{width:11px; height:11px; margin-top:13px;}
.header_l .header_min{margin-right:20px;background:url(../images/header_-.png) no-repeat;}
.header_l .header_max{margin-right:16px;background:url(../images/header_d.png) no-repeat;}
.header_l .header_del{ background:url(../images/header_x.png) no-repeat;}
/*con_l*/
.con_l{width:239px;}
.con_l_t{width:236px; border-top:1px solid #242424;border-left:1px solid #242424;margin-left:2px;}
.con_l_t_seach{width:234px; height:31px; background:url(../images/search_bg.png) no-repeat;border-bottom:1px solid #242424;}
.con_l_t_seach input{ width:200px; height:24px; background:#191917; border:none; margin:2px 0 0 2px;}
.con_l_t_seach a{width:28px; height:31px;}


.con_l_t_user{width:234px;}
.con_l_t_user_nav{width:234px; height:18px; border:1px solid #000; background:url(../images/con_t.png) no-repeat; font-size:12px;}
.con_l_t_user_nav span{color:#fbb901; }
.con_l_t_user_nav span,.con_l_t_user_nav a{margin:0 7px 0 6px; float:left; line-height:18px;}
.con_l_t_user_nav a{color:#ccc;}
.con_l_t_user_nav a:hover{color:red;}

.con_l_t_data{width:234px; height:70px; border:1px solid #000; font-size:12px;}

.con_l_t_data img{width:54px; height:54px; margin:7px 7px 0 9px;}
.con_l_t_data_r h3{ margin-top:4px;}
.con_l_t_data_r p{margin-top:6px;}
.con_l_t_data_r div{ margin-top:2px;}
.con_l_t_data_r h3 *{float:left;}
.con_l_t_data_r h3 span{color:#f60;}
.con_l_t_data_r p *{float:left;}
.con_l_t_data_r p .vip{width:23px; height:14px; background:url(../images/level.png) no-repeat 0 2px;}
.con_l_t_data_r p i{width:17px; height:17px;}
.con_l_t_data_r p span{color:#ccc;}
.con_l_t_data_r div *{float:left;}
.con_l_t_data_r div span{color:#ccc;}
.con_l_t_data_r div i{ color:#f60;}
.con_l_t_data_r div a{color:#ccc; margin-left:8px;}
.con_l_t_data_r div a:hover{color:red;}

/* con_l_b*/
.con_l_b{width:239px; height:695px; position:relative;}
.con_scroll_l{ width:222px; height:693px; border-top:1px solid #333; border-bottom:1px solid #333; overflow:hidden; position:relative;}
.con_scroll_r{width:15px; height:693px; border:1px solid #333; position:absolute; top:0; left:222px; background:#000;}
.con_scroll_r .con_scroll_r_up{ position:absolute;top:1px; left:1px; width:13px; height:11px;}
.con_scroll_r .con_scroll_r_down{ position:absolute;bottom:1px; left:1px;width:13px; height:11px;}
.con_scroll_r .con_scroll_r_middle{ width:13px; height:667px;  position:absolute;top:13px; left:1px; background:#000;}
.con_scroll_r .con_scroll_drop{ width:13px; height:429px; position:absolute; top:0px; left:0px; background:#403e3f;}

/*con_r */

.con_r{width:786px; height:821px; position:relative;}
.con_r_win_nav{width:768px; height:38px; background:#383735;}
.con_r_win_nav_l{ padding-top:10px;margin-right:18px;}
.con_r_win_nav_l a{float:left; width:20px; height:19px; margin-left:8px;}
.con_r_win_nav_m{ height:38px; line-height:38px;}
.con_r_win_nav_m li{float:left; }
.con_r_win_nav_m li a{color:#9b9b99; display:block;padding:0 11px;}
.con_r_win_nav_m li a:hover{background:url(../images/nav_dot.png) no-repeat 0px 14px; color:red;}
.con_r_win_nav_m li a.show{background:url(../images/nav_dot.png) no-repeat 0px 14px; color:red;}
.con_r_win_nav_r{width:160px; height:22px; background:url(../images/index_bg1.png) no-repeat; margin-top:6px; margin-right:7px;}
.con_r_win_nav_r input{width:134px; height:18px; background:#292828; border:none; }
.con_r_win_nav_r a{ width:22px; height:22px;}
.con_r_win_con{ width:768px; height:781px; border-bottom:1px solid #343434; overflow:hidden; position:relative;}

/*滚轮*/
.con_r_drop{width:18px; height:818px; border:1px solid #201e1f; position:absolute; top:0; left:768px; background:#000;}
.con_r_drop_up{width:16px; height:16px; position:absolute; top:1px;left:1px;}
.con_r_drop_down{width:16px; height:16px; position:absolute; bottom:1px;left:1px;}
.con_r_drop_middle{ width:16px; height:784px;  position:absolute;top:18px; left:1px; background:#000;}
.con_r_drop_middle_d{ width:16px; height:364px; position:absolute; top:0px; left:0px; background:#403e3f;}
/*footer*/
.footer{width:1016px; height:24px; border:1px solid #000; background:url(../images/footer1.png) no-repeat 2px 0; font-size:12px; line-height:24px; padding-left:10px;}
.footer span{ color:#a8a8a8; margin-right:24px;}
.footer a{ color:#a8a8a8;}
.footer a:hover{color:red;}

/**/
/* liuxin*/
.l_bg{ background: #282828; padding-left: 5px; width: 763px; overflow: hidden; }
.l_tab_index{ width: 768px; height: 336px;  }
.l_show{ width: 763px; height: 288px; }
.l_img{width: 763px; height: 288px; position: relative; }
.l_img li{ position: absolute; top: 0; left: 0; width: 100%; height: 100%;  opacity: 0; filter:alpha(opacity=0); }
.l_img li img{ width: 763px; height: 288px; }
.l_img li .l_bg_shandow{ position: absolute; bottom: 0; left: 0; width: 763px; height: 35px; background: #000; opacity: 0.5; filter:alpha(opacity=50); }
.l_img li p{ position: absolute; bottom: 0px; left: 20px; font-size: 14px; width: 763px; height: 35px; line-height: 35px; }
 .l_img li p a{ color:#fff; }
 
 .l_tab{ height: 43px; width: 100%; position: relative; }
 .l_tab .l_tab_img {height: 43px; }
 .l_tab .l_tab_img li{ float: left; padding: 2px; position: relative;  z-index: 100; }
 .l_tab .l_tab_img li a{ display: inline-block; }
 .l_tab .l_tab_img li img{ width: 72px; height: 43px; }
 .l_tab .pointer{ width: 76px; height: 51px; position: absolute; top: -5px; left: 0px; background: url(../images/pic-hover.png) no-repeat; z-index: 50; }

.date_forcus{ width: 100%; }
.date_forcus h3{ font-size: 14px; line-height: 45px; color: #ccc; font-weight: bold; }
.date_forcus .l_hot{ margin-right: -13px;}
.date_forcus .l_hot li{ float: left; width: 140px; margin-right: 13px; }
.date_forcus .l_hot li a{ position: relative; display: inline-block; width: 140px; height: 80px; }
.date_forcus .l_hot li img{ width: 140px; height: 80px; }
.date_forcus .l_hot li .l_play{ position: absolute; top: 50%; left: 50%; margin-left: -21px; margin-top: -21px; width: 43px; height: 43px; background: url(../images/video-png24.png) no-repeat; display: none; }
.date_forcus .l_hot li  p{ font-size: 12px; color: #fff; line-height: 19px; font-weight: bold; text-align: center; }

/*xiyu*/
.y_line{ width:763px; height:1px; background:url(../images/bg-5.png) no-repeat center; }
.y_movie{ width:763px; overflow:hidden; margin-bottom:20px; }
.y_m_head{ height:43px; line-height:43px; }
.y_m_head h3 { font-size:14px; color:#ccc; }
.y_m_head a{ color:#ccc; font-size:12px; }
.y_m_head span{ color:#ccc; font-size:12px; margin:0 5px; }
.y_m_content{ height:211px; margin-right:-38px; }
.y_m_content li{ width:120px; height:211px; margin-right:38px; font-size:12px; }
.y_play{ width:43px; height:43px; background:url(../images/video-png24.png) no-repeat 0; position:absolute; top:50%; left:50%; margin-top:-21px; margin-left:-21px; display:none; }
.y_hotbtn{ width:15px; height:13px; background:url(../images/squre.png) no-repeat 0; position:absolute; bottom:2px; left:2px; }
.y_tittle{ color:#fff; line-height:28px; }
.y_detail{ color:#8c8c8c; line-height:18px; }
.y_tv{ width:763px; overflow:hidden; }
.y_tv_content{ margin-right:-38px; margin-bottom:20px; }
.y_tv_content li{ width:160px; height:136px; margin-right:38px; margin-top:10px; font-size:12px; }
.y_tv_pic{ width:160px; height:90px; position:relative; display:block; }
.y_tv_pic img{ width:160px; height:90px; }
.y_ad{ width:763px; height:93px; }
.y_black{ width:95px; height:18px; background:url(../images/mask_png.png) no-repeat 0; padding-right:5px; position:absolute; right:0; bottom:0; color:#ccc; text-align:right; line-height:18px; }
.y_m_pic{ width:120px; height:165px; position:relative; display:block; }
.y_m_pic img{ width:120px; height:165px; }



/*sxt左侧部分*/

.sxt_left{ width: 223px; background: #403e3f; font-size: 12px; font-family: '\65B0\5B8B\4F53', '\5B8B\4F53', Verdana; }
.sxt_left h3{ width: 191px;  height: 23px;color: #fcba04; font-weight: bold; line-height: 23px; background: url(../images/icons/icons01.png) no-repeat 5px 0 #303030; padding-left: 30px; }
.sxt_left h3 span{ float: right; margin-right: 5px; color: #fff; }
.sxt_box{ width: 221px; border-top: 2px solid #000;  }
.sxt_box .b_list{ width: 211px; ; padding-left: 10px; height: 20px; background: #3e3c3d; padding-top: 2px;}
.sxt_box .b_list li{ float: left; padding: 0 5px;  height: 20px; line-height: 20px;  }
.sxt_box .b_list li a{ color: #8c8c8c; }
.sxt_box .b_list li.active{ background: #1e1e1e; }
.sxt_box .b_list  span{ float: right; margin:4px 8px 0 0; color: #fff; cursor: pointer;  }
.sxt_box  div{ display: none; }
.sxt_box div.show{ display: block; }
.sxt_box div li{ background: #1e1e1e; height: 24px; line-height: 24px; color: #8c8c8c; padding-left: 12px; }
.sxt_box div li a{ color:#cccccc; float:right; margin-right: 10px;  }
.sxt_box div li.add{ background: #2b2b2b; }
/*第一个选项卡布局结束*/
.sxt_box1 .pink{ color: #be7562; }
.sxt_box1 div b{ color: #0c9f14; }
.sxt_left .tab{ width: 211px; height: 20px; background: #2b2b2b; color: #e06601; padding-left: 10px; line-height: 20px;    font-weight: normal }
.sxt_left .tab a{ width: 19px; height: 15px; background: url(../images/movie_tongbuBg.png) no-repeat; display: inline-block;}
.sxt_box3 .b_list{ padding-left: 5px; width: 216px; }
.sxt_box3 .b_yellow{ color: #f2b113; font-weight: bold; float: left; height: 20px;  line-height: 20px; width: 46px; }
.sxt_box3 div .s_left{ float: left; }
.sxt_box3 div b{ color: #f0ff0f; }
.sxt_left .sxt_img{ margin-left: 4px; }
.sxt_box5 div li{ height: 24px; line-height: 24px; border-bottom: 1px solid #282f39; background: #020a15; overflow: hidden;  }
.sxt_box5 div li a{ float: left; background: url(../images/icons/play_historyBg.png) 0 9px no-repeat; padding-left: 10px;  }
.sxt_box5 div li span{ float:right; margin-right: 5px; }
.sxt_box5 div li span.yes{ width: 16px; height: 16px;  background: url(../images/icons/play_historyTrue.png) 0 2px no-repeat;  }
.sxt_box5 div a:hover{ background: url(../images/icons/play_historyBg.png) #2b5c9c 0 9px no-repeat; }
.sxt_bom{ height: 26px; line-height: 26px; background: #0c1828; margin-bottom: 40px; }
.sxt_bom a{ color: #8ebdff; }
.sxt_bom .b_l{ background: url(../images/icons/play_historyFalse.png) 0 0px no-repeat; padding-left: 15px; margin-right: 68px; }
.sxt_bom .b_r{ margin-left: 12px; }
.sxt_box4 div .block { display: block; }
.sxt_box4 div li {  height: 100%; }
.sxt_box4 div .block span{ width: 14px; height: 15px; background: url(../images/movie_rankListBg.png) no-repeat 0 0px; display: inline-block; text-align: center; line-height: 15px; color: #fff; font-weight: bold; }
.sxt_box4 div .block i { font-style: normal }
.sxt_box4 div .none{ display: none;  }
.sxt_box4 div dl{  width: 219px;  height: 115px; background: #1e1e1e; display: block; margin-left: -10px; overflow: hidden; display: none; }
.sxt_box4 div dl.show1{ display: block; }
.sxt_box4 div dl  img{ margin: 8px; }
.sxt_box4 div dl span{  width: 14px; height: 15px; background: url(../images/movie_rankListBg.png) no-repeat 0 0px; display: inline-block; text-align: center; line-height: 15px; color: #fff; font-weight: bold; margin-right: 5px; }
.sxt_box4 div dl a{ width: 62px; height: 17px; background: #3d3d3f; display: inline-block; text-align: center; line-height: 17px; margin-top: -5px; }








